<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live | Chatapp</title>
    <link rel="stylesheet" href="/css/chat.css" />
    <meta property="og:title" content="Live | Chatapp" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://live-chatapp.tk" />
    <meta property="og:description"
        content="Just a simple chatapp made by Thinh Nguyen." />
    <meta property="og:url" content="https://live-chatapp.tk" />
    <meta name="theme-color" content="#4d90cc">
</head>

<body>
    <section>
        <ul id="chat">

        </ul>
        <form id="main-form">
            <input type="text" name="message" placeholder="Type some message here!" autocomplete="off">
            <button type="submit" id="main-form-button">Send</button>
        </form>
    </section>
    <script id="message-template" type="text/template">
        <li class='message'>
            <div class="message__title">
                <span class="username">{{author}}</span>
                <span class="time">{{time}}</span>
            </div>
            <div class="message__body">
                <p>{{content}}</p>
            </div>
        </li>
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        function login() {
            alert("First you need login!");
            const username = promt("Please supply your username, if you don't have any account on this Chatapp. Please type \"register\" and it will redirect you to registration page.");
            if (username.toString().toLowerCase() == "{register}") {
                register();
            }
            const password = prompt("Please supply your password. Your password will be saved as Hased version, so nobody can see your password! Even the developer.");
            fetch("http://localhost:3000")
        }

        function scrollToView() {
            let messages = document.querySelector('#chat').lastElementChild;
            messages.lastElementChild.scrollIntoView();
        }

        socket.on('connect', () => {
            console.log('Connected to server!');
        })

        socket.on('disconnect', () => {
            console.log('Disconnected to server!');
        })

        socket.on('newMessage', (message) => {
            const time = new Date(message.time);
            const formatedTime = moment(time.getTime()).format("LT")
            const template = document.querySelector('#message-template').innerHTML;
            const html = Mustache.render(template, {
                "author": message.author,
                "content": message.content,
                "time": formatedTime
            });

            const div = document.createElement('div');
            div.innerHTML = html;

            document.querySelector('#chat').appendChild(div);
            scrollToView()
        })

        document.querySelector('#main-form-button').addEventListener("click", (e) => {
            e.preventDefault();

            socket.emit("createMessage", {
                author: "<%= user%>",
                content: document.querySelector('input[name=message]').value,
                time: new Date()
            })
            document.querySelector('input[name=message]').value = ""
        })
    </script>
    <script src="/js/lib/moment.js"></script>
    <script src="/js/lib/mustache.js"></script>
</body>

</html>