<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.io chat</title>
    <link rel="stylesheet" href="/css/chat.css"/>
</head>
<body>
    <header>
        <p>Please be nice in this chat or nothing</p>
    </header>
    <section>
        <ul id="chat">

        </ul>
        <form id="main-form">
            <input type="text" name="message" placeholder="Type some message here!" autocomplete="off">
            <button type="submit" id="main-form-button">Send</button>
        </form>
    </section>
    <script id="message-template" type="text/template">
        <li class='message'>
            <div class="message__title">
                <span class="username">{{author}}</span>
                <span class="time">{{time}}</span>
            </div>
            <div class="message__body">
                <p>{{content}}</p>
            </div>
        </li>
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/socket-io.js"></script>
    <script src="/js/lib/moment.js"></script>
    <script src="/js/lib/mustache.js"></script>
</body>
</html>