body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: white;
    margin: 0 0;
    text-align: left;
}

ul, li {
    list-style-type: none;
}

form {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: #171818;
    padding: 10px 10px;
    width: 100%;
}

form input {
    width: 87%;
    border: none;
    padding: 5px 5px;
    background-color: #23272A;
    color: white;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 600;
}

form button {
    border: none;
    width: 10%;
    padding: 5px 5px;
    background-color: #23272A;
    color: white;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 600;
}
ul {
    margin-top: 100px;
    margin-left: 500px;
    display: block;
}

.message {
    text-align:left;
}

.message__title{
    display: inline;
}

.message__title .username {
    font-size: 23px;
    font-weight: 600;
}

.message__title .time {
    font-size: 19px;
    margin-left: 10px;
    font-weight: 100;
    color: #999
}

.message__body {
    margin-top: -5px;
}

.message__body p {
    margin-left: 30px;
}

#chat{
    margin-bottom: 100px;
    text-align: left;
    display: block;
    margin: 20px 10px;
    margin-bottom: 60px;
}